version: "3.9"

services:
  backend:
    build: ./server
    container_name: mern-backend
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    networks:
      - mern-network

  frontend:
    build:
      context: ./client
      args:
        VITE_BACKEND_URL: http://localhost:8000
    container_name: mern-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
